body{
  font-family: "Montserrat";
}


#title{
  background-color: #ff4c68;
  color:#fff;

}
.container-fluid{
  padding:2% 10% 7%;
}

h1{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 3rem;
}
h2{
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5;
  font-size: 3rem;
}
h3{
  font-family: "Montserrat";
  font-weight: bold;
}

p{
  color: #8f8f8f;

}


/* Navigation BAr */

.navbar{
  padding-bottom: 3.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0% 5%;
}

/* Download button */
.download-button{
  margin: 6% 3% 5% 0%;
}


/* Title image */
.title-image{
  width: 40%;
  transform: rotate(25deg);
  position:relative;
  left:30%;

}

/* feature-box */

#features{
  padding:5% 15%;




}

.feature-box{
  text-align: center;
  padding: 1%;
}

.icon{
  color:#ef8172;


}

.icon:hover{
  color:#ff4c68;
}

/* Testimonial Section */
#testimonials{

  text-align: center;
  background-color:#ff4c68;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 2%;
}

#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%
  }

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;

  }
.carousel-item{
  padding:7% 15%;
}


/* Pricing list*/

#pricing{
  padding:100px;
  text-align: center;
}

.pricing-colomn{
  padding:3% 3%;
}

/* CTA section */

#cta{
  background-color: #ff4c68;
  color: #fff;
  padding:7% 15%;
  text-align: center;
}
.cta-heading{
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5;
  font-size: 3rem;
}
.buttom-cta{
  margin: 6% 3% 5% 0%;

}

/* footer-section */

#footer{
  padding: 2% 7%;
  text-align: center;
}

@media (max-width:1028px) {
   #title{
     text-align: center;
   }
  .title-image{
    position: static;
    transform: rotate(0);
  }

}
